@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f0efe9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  /* border: 2px solid black; */
  min-width: 350px;
  width: 30vw;
  box-shadow: 8px 8px 10px -2px #888888;
  background: white;
  border-radius: 4px;
}

.date {
  padding: 20px;
}

.date h2 {
  margin-bottom: 5px;
}

.date p{
  color: #45be8a;
}

.todo-list {
  border-radius: 4px;
}

.todo-list li {
  list-style-type: none;
}

.todo-item {
  background: #fff;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.todo-item h3 {
  margin: 20px;
  max-width: 40ch;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: rgb(131, 131, 131);
}

.btn-container {
  min-width: 200px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.btn-container button {
  background-color: white;
  border: 1px solid #50e3a4;
  border-radius: 4px;
  font-weight: 700;
  color: #45be8a;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 20px;
  transition: all .3s;
}

.btn-container button:hover {
  cursor: pointer;
  background-color: #50e3a4;
  color: white;
}

.btn-container button:active {
  transform: scale(.9);
}

.todo-form {
  border-top: 1px solid black;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.todo-form input {
  width: 90%;
  border: none;
  font-size: 1.2em;
  padding: 20px;
}

.todo-form button {
  background-color: white;
  border: 1px solid #50e3a4;
  border-radius: 4px;
  font-weight: 700;
  color: #45be8a;
  padding: 5px 10px;
  margin-right: 20px;
}

.todo-form button:hover {
  cursor: pointer;
  background-color: #50e3a4;
  color: white;
}

.todo-form button:active {
  transform: scale(.9);
}
